div.data-list
    each vv in list
        a(href="#{host+'/detail/'+vv.type+'/'+vv.create_time}", title="#{vv.title}在线观看", target="_blank")
            div.list-img
                img(src="#{vv.img.split(',')[0]}", alt="#{vv.title}")
            div.list-title
                strong #{vv.title}