doctype html 5
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover")
        meta(name="aplus-terminal", content="1")
        meta(name="data-spm", content="a2141")
        meta(name="aplus-mmstat-timeout", content="10000")
        meta(name="keywords", content=pageKeyword)
        meta(name="description", content='#{pageDescrition}')
        meta(name="theme-color", content="#ff5000")
        meta(name="format-detection", content="telephone=no")
        meta(name="apple-mobile-web-app-title", content="#{pageDescrition}")
        meta(name="application-name", content="#{pageDescrition}")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        title=pageTitle
        link(rel="stylesheet", type="text/css", href="#{host}/css/style.css")
    body
        div.header-top
            h1 #{pageTitle+','+pageKeyword}
            div.cont
                marquee(scrolldelay="30")
                    span 为防止域名更换, 请记住我们的导航域名 xjb520.com&nbsp;&nbsp;&nbsp;
                    span 交流QQ群&nbsp;
                        font
                            a(target="_blank", title="#{pageTitle}交流QQ群" href="https://jq.qq.com/?_wv=1027&amp;k=5j4uiDH", style="color: rgb(255, 103, 56);") 854191436
        div.header
                div.cont
                    each item in menu
                        -if(item.url === '/')
                            a(href="#{item.url}", class="active", title="#{item.name}") #{item.name}
                        -else
                            a(href="#{item.url}", title="#{item.name}") #{item.name}
                    a(href="http://xjb520.com/", target="_blank", title="小鸡吧导航") 其他资源
                    a(href="http://llh8.cn/", target="_blank", title="萝莉网红吧") VIP区
                div.shadow
        div.bodyer
            -if(result)
                each item in result
                    h2 #{item.name}
                        a(href="/list/#{item.type}.html", title="#{item.name}列表") 更多
                    div.data-list
                        each vv in item.list
                            a(href="#{host+'/detail/'+vv.type+'/'+vv.createTime}.html", title="#{vv.title}在线观看", target="_blank")
                                div.list-img
                                    img(src="#{vv.img}", alt="#{vv.title}", onerror="this.src='#{host}/img/errorimg.png'")
                                div.list-title
                                    strong #{vv.title}
            -else
                a(href="#{host}", class="no-more" title="返回首页") 页面出错，请刷新页面或联系管理员！
        div.footer
            | 欢迎来到&nbsp;
            a(href="http://ashun1.com", title="http://ashun1.com")
                strong WWW.ASHUN520.COM&nbsp;
            | 未满18岁禁止进入
        div(style="display:none")
            span 备用地址：
            a(href="http://www.llh8.cn", title="http://www.llh8.cn") www.llh8.cn
            a(href="http://llh8.cn", title="http://llh8.cn") llh8.cn
            a(href="http://www.llh8.me", title="http://www.llh8.cn") www.llh8.me
            a(href="http://llh8.me", title="http://llh8.cn") llh8.me
            a(href="http://www.llh8.vip", title="http://www.llh8.vip") www.llh8.vip
            a(href="http://llh8.vip", title="http://llh8.vip") llh8.vip
            a(href="http://www.cz1990.com", title="http://www.cz1990.com") www.cz1990.com
            a(href="http://cz1990.com", title="http://cz1990.com") cz1990.com
            a(href="http://xjb666.xyz", title="http://xjb666.xyz") xjb666.xyz
            a(href="http://www.xjb666.xyz", title="http://xjb666.xyz") www.xjb666.xyz
            a(href="http://xjb888.xyz", title="http://xjb888.xyz") xjb888.xyz
            a(href="http://www.xjb888.xyz", title="http://xjb888.xyz") www.xjb888.xyz
            a(href="http://ashun520.com", title="http://ashun520.com") ashun520.com
            a(href="http://www.ashun520.com", title="http://www.ashun520.com") www.ashun520.com
            a(href="http://ashun1.com", title="http://ashun1.com") ashun1.com
            a(href="http://www.ashun1.com", title="http://www.ashun1.com") www.ashun1.com
            a(href="http://1992tv.com", title="http://1992tv.com") 1992tv.com
            a(href="http://www.1992tv.com", title="http://www.1992tv.com") www.1992tv.com
            a(href="http://llh1.xyz", title="http://llh1.xyz") llh1.xyz
            a(href="http://www.llh1.xyz", title="http://www.llh1.xyz") www.llh1.xyz
            a(href="http://llh2.xyz", title="http://llh2.xyz") llh2.xyz
            a(href="http://www.llh2.xyz", title="http://www.llh2.xyz") www.llh2.xyz
            a(href="http://llh3.xyz", title="http://llh3.xyz") llh3.xyz
            a(href="http://www.llh3.xyz", title="http://www.llh3.xyz") www.llh3.xyz
            a(href="http://llh4.xyz", title="http://llh4.xyz") llh4.xyz
            a(href="http://www.llh4.xyz", title="http://www.llh4.xyz") www.llh4.xyz
            a(href="http://llh5.xyz", title="http://llh5.xyz") llh5.xyz
            a(href="http://www.llh5.xyz", title="http://www.llh5.xyz") www.llh5.xyz
            a(href="http://llh6.xyz", title="http://llh6.xyz") llh6.xyz
            a(href="http://www.llh6.xyz", title="http://www.llh6.xyz") www.llh6.xyz
            a(href="http://llh7.xyz", title="http://llh7.xyz") llh7.xyz
            a(href="http://www.llh7.xyz", title="http://www.llh7.xyz") www.llh7.xyz
            a(href="http://llh8.xyz", title="http://llh8.xyz") llh8.xyz
            a(href="http://www.llh8.xyz", title="http://www.llh8.xyz") www.llh8.xyz
            a(href="http://llh9.xyz", title="http://llh9.xyz") llh9.xyz
            a(href="http://www.llh9.xyz", title="http://www.llh9.xyz") www.llh9.xyz
        script(src="https://tz.70e.me/s.php?id=17998", async="async")
        div(style="display:none")
            script(src="https://s13.cnzz.com/z_stat.php?id=1273863649&web_id=1273863649", async="async", language="JavaScript")