doctype html 5
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover")
        meta(name="aplus-terminal", content="1")
        meta(name="data-spm", content="a2141")
        meta(name="aplus-mmstat-timeout", content="10000")
        meta(name="keywords", content=pageKeyword)
        meta(name="description", content='#{pageDescrition}')
        meta(name="theme-color", content="#ff5000")
        meta(name="format-detection", content="telephone=no")
        meta(name="apple-mobile-web-app-title", content="#{pageDescrition}")
        meta(name="application-name", content="#{pageDescrition}")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        title=pageTitle
        link(rel="stylesheet", type="text/css", href="#{host}/css/style.css")
    body
        include ../public/include/header.jade
        div.bodyer
            h2 最新推荐
            -if(list)
                include ../public/include/list.jade
            -else
                a(href="#{host}", class="no-more" title="返回首页") 页面出错，请刷新页面或联系管理员！
        include ../public/include/footer.jade
        script.
            function ajax() {  
                var ajaxData = {    
                    type: arguments[0].type || "GET",
                    url: arguments[0].url || "",
                    async: arguments[0].async || "true",
                    data: arguments[0].data || null,
                    dataType: arguments[0].dataType || "text",
                    contentType: arguments[0].contentType || "application/x-www-form-urlencoded",
                    beforeSend: arguments[0].beforeSend || function () {},
                    success: arguments[0].success || function () {},
                    error: arguments[0].error || function () {}  
                }; 
                ajaxData.beforeSend(); 
                var xhr = createxmlHttpRequest();
                try{
                    xhr.responseType = ajaxData.dataType;  
                }catch (err) {
                    console.log(err)
                };
                xhr.open(ajaxData.type, ajaxData.url, ajaxData.async);   
                xhr.setRequestHeader("Content-Type", ajaxData.contentType);   
                xhr.send(convertData(ajaxData.data));   
                xhr.onreadystatechange = function () {     
                    if (xhr.readyState == 4) {       
                        if (xhr.status == 200) {
                            ajaxData.success(xhr.response);      
                        } else {        
                            ajaxData.error();      
                        }     
                    }  
                } 
            };
            function createxmlHttpRequest() {   
                if (window.ActiveXObject) {     
                    return new ActiveXObject("Microsoft.XMLHTTP");   
                } else if (window.XMLHttpRequest) {     
                    return new XMLHttpRequest();   
                } 
            }; 
            function convertData(data) {  
                if (typeof data === 'object') {    
                    var convertResult = "";     
                    for (var c in data) {       
                        convertResult += c + "=" + data[c] + "&";     
                    }     
                    convertResult = convertResult.substring(0, convertResult.length - 1);   
                    return convertResult;  
                } else {    
                    return data;  
                }
            };
            ajax({
                url:'/api/users.json',
                type: "get",
                  beforeSend: function () {},
                    //some js code 
                success: function (response) {
                    var data = JSON.parse(response).data;
                    var alist = '';
                    var style = '<style>.friendly{box-sizing: border-box;max-width:960px;width:100%;margin: 0 auto;padding: 5px;}.friendly a{display: inline-block;padding: 5px;}</style>'
                    for(var i = 0; i < data.length; i++) {
                        alist += '<a href="'+ data[i].url +'" target="_blank">'+ data[i].name +'</a>'
                    }
                    var div = document.createElement('div');
                    var body = document.getElementsByTagName('body')[0];
                    div.className = 'friendly';
                    div.innerHTML = alist;
                    body.appendChild(div);
                },
                error: function () {   
                    //- alert('搜索失败');
                }
            });